<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="controlForm">
    <ion-item>
      <ion-input formControlName="miControl"></ion-input>
    </ion-item>
    <ion-item *ngIf="homeControlService.validateControl('miControl')">
      <ion-label
        >{{homeControlService.getErrorMessage('miControl',controlForm.get('miControl').errors)
        }}</ion-label>       
    </ion-item>
  </form>
</ion-content>
