<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="controlForm" *ngFor="let item of nombreControles" >
    <ion-label>{{item}}</ion-label>
    <ion-item >
      <ion-input [formControlName]=item></ion-input>
    </ion-item>
    <ion-item *ngIf="homeControlService.validateControl(item)">
      <ion-label
        >{{homeControlService.getErrorMessage(item,controlForm.get(item).errors)
        }}</ion-label>       
    </ion-item>
  </form>
</ion-content>
